[Unit]
Description=TX2 saving script for RealSense
After=multi-user.target

[Service]
Type=idle
User=root
ExecStartPre=/bin/sleep 10
ExecStart=/home/fishsensetx2/run_firmware.sh

[Install]
WantedBy=multi-user.target
